<p>
  <b>Data:</b>
  <%=h @event.data %>
</p>

<p>
  <b>Mission:</b>
  <%=h @event.mission %>
</p>

<p>
  <b>By:</b>
  <%=h @event.by %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
