<h1>Listing pages</h1>

<table>
  <tr>
    <th>Image path</th>
    <th>Page no</th>
    <th>Document</th>
  </tr>

<% for page in @pages %>
  <tr>
    <td><%=h page.image_path %></td>
    <td><%=h page.page_no %></td>
    <td><%=h page.document_id %></td>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page', new_page_path %>
