<p>
  <b>Date:</b>
  <%=h @document.date %>
</p>

<p>
  <b>Type:</b>
  <%=h @document.type %>
</p>

<p>
  <b>Title:</b>
  <%=h @document.title %>
</p>

<p>
  <b>Url:</b>
  <%=h @document.url %>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
