<h1>Editing tradeskill</h1>

<% form_for(@tradeskill) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :parent_skill_id %><br />
    <%= f.text_field :parent_skill_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @tradeskill %> |
<%= link_to 'Back', tradeskills_path %>
