- @javascript = :defaults
- @title = "Characters"
%label Search the armoury for a character
-form_for :character, :url => armoury_search_path do
  %label Region
  .locale
    = select_tag 'character[locale]', options_for_select(%w(EU US KR CN TW), "US")
  %label Character Name
  .character_name
    = text_field_tag 'character[name]', "", {:autocomplete => "off"}
  = submit_tag "Search"
%ul.characters
  -for character in @characters
    %li.character
      %div.character=link_to "#{character.name} #{"&lt;" + character.guild + "&gt;" unless character.guild.nil?} #{character.realm.name}", character_path(character)
