<h1>New spell</h1>

<% form_for(@spell) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :icon_base %><br />
    <%= f.text_field :icon_base %>
  </p>
  <p>
    <%= f.label :spell_id %><br />
    <%= f.text_field :spell_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', spells_path %>
