 <% for tweet in @tweets %>
    <tr class="hentry <%=tweet.from_user%>" id="status_<%=tweet.original%>">
        <td class="icon">
            <a target="_blank" class="url" href="http://www.twitter.com/<%=tweet.from_user%>"><img width="48" height="48" src="<%=tweet.profile_image_url%>" class="photo fn" alt="<%=tweet.from_user%>"/></a>
        </td>
        <td class="content">
            <strong><a title="<%=tweet.from_user%>" target="_blank" href="http://www.twitter.com/<%=tweet.from_user%>"><%=tweet.from_user%></a></strong>
            <span class="entry-content"> <%=link_tweeple(auto_link(tweet.text))%></span>
            <span class="meta entry-meta"><a target="_blank" rel="bookmark" class="entry-date" href="http://www.twitter.com/<%=tweet.from_user%>/statuses/<%=tweet.original%>"><span title="<%=tweet.created_at.to_formatted_s%>"><%=time_ago_in_words tweet.created_at%></span> ago</a></span>
        </td>
    </tr>
<% end %>
